$col-bg-main: #ffffff;
$col-layout-main: #0a0f0f;
$col-font-main: #1f2e2e;
$col-font-dark: #0a0f0f;
$col-font-high: #85adad;

$baseline: 1.4rem;
$half-baseline: 0.7rem;

$solid-border: 1px solid $col-layout-main;
$dashed-border: 1px dashed $col-layout-main;

@mixin small-font {
  font-size: 0.84rem;
  line-height: $baseline;
}

@mixin tiny-font {
  font-size: 0.6rem;
  line-height: 1.0rem;
}
