/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Typography */

@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 19px;
/*  font-size: 11pt; on screen */
  line-height: $baseline; /* baseline is 26.6px on screen */
}

body {
  background: $col-bg-main;
  color: $col-font-main;
}

p {
  font-size: 1.0rem;
  line-height: $baseline;
  margin: 0;
}

b { font-weight: 700; }
i { font-style: italic; }

h1 {
  font-size: 2.0rem;
  line-height: 2.8rem;
  margin: 0;
  font-weight: bold;
  color: $col-font-dark;
}

h2 {
  font-size: 1.0rem;
  line-height: $baseline;
  margin: 0;
/*  font-style: italic;*/
  border-top: $solid-border;
  border-bottom: $solid-border;
  text-indent: 1.4rem;
  position: relative;
  color: $col-font-dark;
}

h2:before {
  content: "\21e9";
  position: absolute;
  display: inline-block;
  top: 0;
  left: -1.4rem;
  float: left;
  padding-left: 0.3em;
  font-style: normal;
}

a {
  color: $col-font-main;
  text-decoration: none;
	transition: none;
}

a:hover {
  color: $col-font-high;
	transition: all .15s ease-in;
}

a.button {
  font-weight: bold;

  &::before { content: "["; }
  &::after { content: "]"; }
}

ul {
  list-style-type: circle;
}

/* Layout */

.page {
  background: $col-bg-main;
  width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $baseline;
}

.row {
  display: flex;
  .left-column { flex: 35%; }
  .right-column { flex: 65%; }
}

#print-button {
  position: fixed;
  top: 0;
  right: 0;
  width: 2.8rem;
  margin-right: $baseline;
  margin-top: $baseline;
  padding: 0 $baseline;

  p {
    @include tiny-font;
  }
}

#sidebar {
  padding: 0 $baseline;

  h2 {
    margin-bottom: $half-baseline;
  }

  section {
    padding-top: $half-baseline;
    padding-bottom: $half-baseline;
  }

  #avatar {
    text-align: center;

    img {
      border-radius: 50%;
    }
  }

  #intro {
    p {
      @include small-font;
    }
  }

  #contacts ul {
    list-style-type: none;
    line-height: 2.8rem;
    text-indent: 0.4rem;

    li {
      border-top: $dashed-border;
    }

    li:last-child {
      border-bottom: $dashed-border;
    }
  }

  #skills {
    ul { list-style-type: none; }
    line-height: $baseline;

    .skill-name {
      margin-top: $half-baseline;
      font-weight: bold;
    }

    .skill-text {
      padding-left: $baseline;

      &.small { @include small-font; }
      &.tiny { @include tiny-font; }
    }
  }
}

#main-content {
  #timeline {
    .date {
      margin-top: 0;
      margin-bottom: $half-baseline;
      @include small-font;
    }

    .employer {
      margin-top: 0;
      margin-bottom: $half-baseline;
    }

    .achievements {
      @include small-font;
      padding-left: $baseline;
    }

    .timeline-header {
      padding: $half-baseline $baseline 0;
      border-left: $solid-border;
    }

    .timeline-item {
      padding: $half-baseline $baseline;
      position: relative;
      border-left: $solid-border;

      &::after {
        width: 0.6rem;
        height: 0.6rem;
        display: block;
        top: calc(0.65rem + 0.3rem);
        position: absolute;
        left: -4px;
        border-radius: 0.6rem;
        content: '';
        border: $solid-border;
        background: $col-bg-main;
      }

      &:last-child {
        border-image: linear-gradient(to bottom, $col-layout-main 60%, rgba($col-layout-main, 0)) 1 100% ;
      }
    }
  }
}

footer {
  p {
    @include tiny-font;
    text-align: center;
  }

  p:first-child {
    margin-top: 4.2rem;
  }

  p:last-child {
    margin-bottom: 1.4rem;
  }
}
