#decoding-overlay {
  position: fixed;
  z-index:199;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background-color: white;
  text-align: center;
}

#decoding-centerer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#decoding-info {
  margin-top: -50px;
  font: 1.8rem "Lucida Console", Monaco, monospace;
}
