@media screen and (max-width: 1000px) {
  #print-button {
    display: none;
  }
}

@media print {
  .no-print { display: none; }

  body {
    font-size: 14pt;
  }

  * {
    color: black !important;
  }

  .page {
    margin: 0;
  }

  .emoji:before {
    -webkit-print-color-adjust: exact;
  }
}
