/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Variables */

$default-border-color: #999;
$default-border: 1px solid $default-border-color;
$default-margin: 0.475rem;
$big-margin:     $default-margin * 2;
$small-margin:   $default-margin * 0.75;
$tiny-margin:   $default-margin * 0.25;
$font-size-small: 0.725rem;
$alternate-background-color: #ccc;
$alternate-font-color: #444;

/* Mixins */

@mixin alternate-font {
  font-family: Georgia, Serif;
  font-style: italic;
  color: $alternate-font-color;
}

@mixin code-font {
  font: 0.9rem "Lucida Console", Monaco, monospace;
}

/* Typography */

html {
  font-size: 100%;
  line-height: 150%;
}

body {
  color: black;
  font: 1.0rem Helvetica, Sans-Serif;
  background: white;
}

a {
  color: black;
  text-decoration: none;
  border: none;
}

a:hover {
  color: #999;
}

h1 {
  padding: 0 0 0.2rem 0;
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  border-bottom: $default-border;
}

h2 {
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

h3 {
  font-size: 1.15rem;
}

emph {
  font-style: italic;
}

code {
  @include code-font;
}

ul {
  list-style-type: disc;
  margin: 0 0 $small-margin 1.2rem;
}

.emoji-container {
  position: relative;
  margin-left: 1.5rem;
}

.emoji:before {
  position: absolute;
  width: 1.4rem;
  content: " ";
  background-size: 100% 100%;
  left: -1.55rem;
  top: 2px;
  height: 1.4rem;
}

.emoji-github:before {
  background-image: url('../emoji/octocat.png');
}

.emoji-email:before {
  background-image: url('../emoji/email.png');
}

.emoji-cell:before {
  background-image: url('../emoji/iphone.png');
}

.emoji-location:before {
  background-image: url('../emoji/house.png');
}

.emoji-see-no-evil:before {
  background-image: url('../emoji/see_no_evil.png');
}

#objective {
  @include alternate-font;
}

.time-line {
  @include alternate-font;
  font-size: $font-size-small;
  float: right;
  margin-top: 2px;

  background-color: $alternate-background-color;
  border-radius: 2px;
  padding: 3px 6px 1px 6px;

  -webkit-box-shadow: 1px 1px 3px 0px $default-border-color;
  -moz-box-shadow: 1px 1px 3px 0px $default-border-color;
  box-shadow: 1px 1px 3px 0px $default-border-color;
}

footer {
  color: $alternate-font-color;
  text-align: center;
}

footer.small {
  font-size: 65%;
}

/* Language graph */

#language-graph {
  padding: 0;
  margin: $default-margin 0 $default-margin 0;
  list-style-type: none;
  line-height: 1;

  li {
    margin-bottom: $tiny-margin;
    padding-left: $tiny-margin;

    .language-name {
      @include code-font;
      font-size: $font-size-small;
      padding-left: $tiny-margin;
    }

    .language-years {
      @include alternate-font;
      font-size: $font-size-small;
    }
  }

  li:last-child {
    margin-bottom: 0;
  }
}

/* Layout */

#page-wrap {
  width: 670px;
  margin: 40px auto;
}

header {
  margin-bottom: $default-margin;

  #photo {
    text-align: right;

    img {
      padding: 1px;
      box-shadow: 1px 1px 3px 0px $default-border-color;
    }
  }

  #name-contacts-wrap {
    #name {
      margin-bottom: $default-margin;
    }

    #contacts {
      .contact {
        line-height: 160%;
      }
    }
  }
}

#objective {
  margin-bottom: $default-margin;
  border-radius: 4px;
  padding: 0.6rem 2rem;
}

.two-columns {
  display: flex;
  flex-flow: row;
  page-break-inside: avoid;

  margin-bottom: $default-margin;

  .left-column {
    flex: 1 1 25%;
  }

  .right-column {
    padding-left: 1.5rem;
    flex: 1 1 80%;
  }

  .border-left {
    border-left: $default-border;
  }
}

.experience {
  /* margin-bottom: $small-margin; */
}

#print-button {
  display: inline-block;
  line-height: 160%;
}

/* Print layout */

@media print {
  .no-print { display: none; }

  * {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  body {
    font-size: 11pt;
  }

  #page-wrap {
    margin: 0;
  }

  #photo img {
    border: none;
  }

  #language-graph li {
    -webkit-print-color-adjust: exact;
  }

  .contact:before {
    -webkit-print-color-adjust: exact;
  }
}

/* Mobile layout */

@media all and (max-device-width: 760px) {
  .no-mobile { display: none; }

  #page-wrap {
    width: 100%;
    margin: 0;
    padding: $default-margin / 2;
  }

  header #photo {
    text-align: left;
  }

  #objective-contacts-wrap {
    display: block;

    #objective {
      margin-bottom: $default-margin;
    }

    #contacts {
      margin-left: 1.6rem;
    }
  }

  .two-columns {
    display: block;

    .right-column {
      padding-left: 0;
    }

    .border-left {
      border: none;
    }
  }
}
