// This is an example of the structure of the secrets.dat file.
// The "content" section should contain at least the "title" field,
// the remaining attributes can be seen by looking at the content.hbs
// handlebars template.

{
  "keys": [
    "onelonglonglongpreferablyhexadecimalstring",
    "twostring"
  ],

  "content": {
    "title": "CV"
    ...
  }
}
